@model List<_036_MoviesMvcWissen.Entities.Movie>

@{
    ViewBag.Title = "Movies";
}

<h2>@ViewBag.Title</h2>



<table class="table">
    <tr>
        <td>
            <b style="color:darkgreen">Name</b>
        </td>
        <td>
            <b style="color:darkgreen">Production Year</b>
        </td>
        <td>
            <b style="color:darkgreen">Box Office Return</b>
        </td>
    </tr>
    @foreach (var movie in Model)
        {
            <tr>
                <td>
                    @movie.Name
                </td>
                <td>
                    @movie.ProductionYear
                </td>
                <td>
                    @movie.BoxOfficeReturn
                </td>
            </tr>
        
     }
</table>
<span style="color:lime; display: block; text-align:center">
    @Model.Count Movies Found
    <br /><br />
    <a class="btn btn-dark" href="~/Movies/Add">Add Movie</a>

</span>
