@model _036_MoviesMvcWissen.Entities.Movie

<div>
    <h4>Movie Details Test(From Display Templates)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductionYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductionYear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BoxOfficeReturn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BoxOfficeReturn)
        </dd>

    </dl>
</div>
