<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GraduatedFromUniversity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdentityNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BirthDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GraduatedFromUniversity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdentityNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthDate)
            </td>
            
        </tr>
    }

</table>

