@model IEnumerable<_036_MoviesMvcWissen.Models.Demos.Templates.PersonModel>

@{
    ViewBag.Title = "GetPeople";
}

<h2>GetPeople</h2>

<p>
    @Html.ActionLink("CreatePeople", "AddPerson")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GraduatedFromUniversity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdentityNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BirthDate)
        </th>
      
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GraduatedFromUniversity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdentityNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BirthDate)
        </td>
        <td>
            @Html.ActionLink("GetPeopleDetails", "GetPeopleDetails" , new { id =item.Id})
        </td>
   
    </tr>
}

</table>
