@model _036_MoviesMvcWissen.Models.Demos.Templates.PersonModel

@{
    ViewBag.Title = "GetPeopleDetails";
}

<h2>GetPeopleDetails</h2>

<div>
    <h4>PersonModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GraduatedFromUniversity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GraduatedFromUniversity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdentityNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdentityNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirthDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "GetPeople")
</p>
